		<!-- Jumbotron search fields -->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-4">News Scraper</h1>
				<div class="form-row">
					<button id="scrape" class="btn btn-dark" data-id={{this._id}}></button>
				</div>
				<div class="form-row">
					
				</div>
				<div class="form-row">
				</div>
			</div>
		</div>

		<!-- Results list -->
		{{#if result}}
		<div class="container">
			<div class="col-md-12">
				<h1 class="display-5">Results</h1>
				<!-- Rendering results -->
				
					{{#each result}}
					<a href="headlines/{{this._id}}" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
						<br />
						<div class="card mb-3">
<!-- 						  <img class="card-img-top" src="..." alt="Card image cap"> -->
						  <div class="card-body">
						    <h5 class="card-title">{{this.title}}</h5>
						    <p class="card-text">{{this.link}}</p>
						    <p class="card-text"><small id="date" class="text-muted">{{this.date}}</small></p>
						    <button id="saveheadline" class="btn btn-primary" data-id="{{this._id}}">Save Headline</button>
						    <button id="deleteheadline" class="btn btn-warning float-right" data-id="{{this._id}}">Delete Headline</button>
						  </div>
						</div>
					</a>
					<br />
<!-- 			
				<div class="list-group">
				  <a href="headlines/{{this._id}}" class="list-group-item list-group-item-action flex-column align-items-start active">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">{{this.title}}</h5>
				      <small>3 days ago</small>
				    </div>
				    <p class="mb-1"><a class="list-group-item list-group-item-action flex-column align-items-start active" href="{{this.link}}" target="_blank">{{this.link}}</a></p>
				    <small></small>
				  </a> -->
				  {{/each}}
			</div>
		</div>
		<hr />
		{{/if}}
