<div class="container">
	<div class="row">
		<div class="col-md-12">
		<div class="card">
		  <h5 class="card-header">{{result.title}}</h5>
		  <div class="card card-body">
			{{result.link}}
		  </div>
		  <div class="card-body">
  			{{#unless result.note}}
			<p>No notes.  Add yours below!</p>
			{{/unless}}
		    <h5 class="card-title">{{result.note.title}}</h5>
		    <p class="card-text">{{result.note.body}}</p>
			  <button id="updatenote" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Update Note
			  </button>
			  {{#if result.note}}
			  <button id="deletenote" class="btn btn-danger float-right" data-id="{{result.note._id}}">Delete Note</button>
			  {{/if}}
			  <br />
  			  <div class="collapse" id="collapseExample">
			  <div class="card-body">
								<div class="form-row">
					<label for="title">Title:</label>
					<input class="form-control" type="text" id="titleinput" value="{{result.note.title}}">
				</div>
				<div class="form-row">
					<label for="body">Note:</label>
					<textarea class="form-control" type="text" id="bodyinput" value="{{result.note.body}}"></textarea>
				</div>
<!-- 				<script>
					CKEDITOR.replace( 'bodyinput' );
				</script> -->
					<br />
				<div class="form-row">
				<button id="savenote" class="btn btn-primary form-control" type="submit" data-id="{{this._id}}">Submit</button>
				</div>
			  </div>
			</div>
		  </div>
		</div>


		</div>
	</div>
	</div>
</div>